html, body {
    margin:0;
    padding:0;
}
body * {
    font-weight: normal;
}
strong, b {
    font-family: 'ibm_plex_sansbold';
}

:root {
    --size14_vw: 0.875vw;
    --size16_vw: 1vw;
    --size18_vw: 1.125vw;
    --white: #ffffff;
    --grey: #515151;
    --grey2: #b7b7b7;
    --lightBlue: #0075ff;
    --blackborder: #19232b;
    --black: #000000;
    --darkBtnColor: #111920;
    --subTitleColor: #002b59;
    --boxBgColor: #101d2e;
    --golden: #c09759;
    --golden2: #cca05d;
    --greyBg: #eff3f4;
    --blackHeading: #070c12;
    --border1_vw: 0.063vw;
    --headerH_vw: 5vw;
    --darkBG: #001616;
}
body {
    letter-spacing: 0.031vw;
    font-family: 'ibm_plex_sanslight';
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.alignright { float: right; margin: 0 0 5px 25px; }
.alignleft { float: left; margin: 0 25px 5px 0; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.wp-caption p {font-style: italic;font-size:12px;}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
::selection {
    color: #ffffff;
    background: #c09759;
}
.fx {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.fx-ac {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}
.fx-jb {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.fx-jc {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.fx-ae {
    align-items: flex-end;
}
.fx-je {
    justify-content: flex-end;
}
.fx-js {
    justify-content: flex-start;
}
.f-dir-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.fx-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.fx-grow {
    flex-grow: 1;
    -webkit-flex-grow: 1;
}
.vd-wrap {
    position: relative;
    overflow: hidden;
}
.vd-content {
    padding-bottom: 56.25%;
    position: relative;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.vd-content iframe, .vd-content video {
    display: block;
    width: 100% ;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
img {
    vertical-align: top;    
    max-width: 100%;
}
svg path, svg ellipse, svg rect {
    -webkit-transition: fill .4s;
    -moz-transition: fill .4s;
    transition: fill .4s;
}
 .solutions {
    background: var(--darkBG);
    padding-top: 2.5vw;
}
        .sub-title-row {
    position: relative;
}
.fx-ae {
    align-items: flex-end;
}
.fx {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.sd-pad {
    padding: 0 6.563vw;
}

.sl-cols {
    margin-top: 3.938vw;
}
.sl-col {
    width: 32%;
    border: 0.063vw solid var(--subTitleColor);
    -webkit-border-radius: 2.188vw;
    -moz-border-radius: 2.188vw;
    border-radius: 2.188vw;
    margin-right: 2%;
    margin-bottom: 3.063vw;
    overflow: hidden;
}
.sl-graphic {
    width: 100%;
    position: relative;
    height: 22.75vw;
    text-align: center;
    overflow: hidden;
}
.sl-link {
    display: block;
    height: 100%;
    text-decoration: none;
}
.sl-box-video * {
    -webkit-border-radius: 2.188vw;
    -moz-border-radius: 2.188vw;
    border-radius: 2.188vw;
}
.vd-wrap {
    position: relative;
    overflow: hidden;
}.sl-box-video .vd-content {
    padding-bottom: 85%;
}
.sl-box-video * {
    -webkit-border-radius: 2.188vw;
    -moz-border-radius: 2.188vw;
    border-radius: 2.188vw;
}
.vd-content {
    padding-bottom: 56.25%;
    position: relative;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.vd-content iframe, .vd-content video {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.sl-info-row {
    border-top: 1px solid #c09759;
    border-top: 0.063vw solid #c09759;
    -webkit-border-radius: 0 0 2.188vw 2.188vw;
    -moz-border-radius: 0 0 2.188vw 2.188vw;
    border-radius: 0 0 2.188vw 2.188vw;
    width: 100%;
    background: #101d2e;
    padding: 1.75vw 1.25vw 1.875vw 3.125vw;
}
.sl-link {
    display: block;
    height: 100%;
    text-decoration: none;
}
.sl-info-row h4 {
    margin: 0;
    color: white;
    font-family: 'ibm_plex_sansregular';
    font-size: 2.063vw;
    text-transform: uppercase;
    line-height: 2.500vw;
    width: 80%;
    min-height: 5vw;
}
.st-row {
    margin-top: -0.688vw;
}
.fx-je {
    justify-content: flex-end;
}
.arrow-link {
    width: 4.063vw;
    height: 4.063vw;
    border: 0.063vw solid #c09759;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}

.fx-jc {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.fx-ac {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}
.sl-col:nth-child(3n), .sl-col:last-child {
    margin-right: 0;
}
.sl-col {
    width: 32%;
    border: 0.063vw solid #002b59;
    -webkit-border-radius: 2.188vw;
    -moz-border-radius: 2.188vw;
    border-radius: 2.188vw;
    margin-right: 2%;
    margin-bottom: 3.063vw;
    overflow: hidden;
}
.sl-graphic {
    width: 100%;
    position: relative;
    height: 22.75vw;
    text-align: center;
    overflow: hidden;
}.sl-link {
    display: block;
    height: 100%;
    text-decoration: none;
}
.sl-box-video .vd-content {
    padding-bottom: 85%;
}
.sl-info-row h4 {
    margin: 0;
    color: white;
    font-family: 'ibm_plex_sansregular';
    font-size: 2.063vw;
    text-transform: uppercase;
    line-height: 2.500vw;
    width: 80%;
    min-height: 5vw;
}
.st-row {
    margin-top: -0.688vw;
}
.sd-pad {
    padding: 0 6.563vw;
}
.sl-cols {
    margin-top: 3.938vw;
}

.vd-content iframe, .vd-content video {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.sl-box-video * {
    -webkit-border-radius: 2.188vw;
    -moz-border-radius: 2.188vw;
    border-radius: 2.188vw;
}
@media screen and (max-width: 768px){

.sl-col {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
}
.sl-col:last-child {
    margin-bottom: 0;
}
.sl-graphic {
    height: 70vw;
}
.sl-info-row {
    border-top-width: 1px;
    padding: 20px 25px;
}
.sl-info-row a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.st-row {
    margin-top: 0;
}
.sl-info-row h4 {
    min-height: initial;
    width: auto;
    padding-right: 20px;
}
.solutions {
    padding-top: 20px;
}
}


@media only screen and (min-device-width: 540px) and (max-device-width: 720px){
.sd-pad, .tm-wrap, .testimonials .title-row {
    padding: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.sl-col:nth-child(2n), .sl-col:last-child {
    margin-right: 0;
}
.sl-col {
    border-width: 1px;
}
.other-solutions {
    padding: 40px 0;
}
.sl-box {
    margin-bottom: 20px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 20px 15px 15px 15px;
    height: 150px;
}
.other-solutions .sl-box {
    width: 17%;
    margin-left: 1.5%;
    margin-right: 1.5%;
}
.sl-icon {
    width: 55px;
    height: 55px;
}
.sl-anim-icon {
    width: 85px;
}
.sl-title-row {
    margin-top: 10px;
    min-height: 48px;
}
.sl-title-row h4 {
    font-size: 11px;
    line-height: 16px;
}
.sl-toggle-row {
    margin-top: 35px;
}
.midS {
    width: 90%;
}
.sl-desc {
    font-size: 14px;
    line-height: 22px;
}
.sl-toggle-title h4 {
    font-size: 20px;
    line-height: 27px;
    padding-left: 20px;
}
.fx {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.graphic {
    height: 36vw;
}


}

